.navContainer{
    display: flex;
    flex-direction: row;
    top: 0;
    width: 100vw;
    height: 6vh;
    padding-top: 25px;
    position: fixed;
    z-index: 50;
}
.navItem{
    font-family: Copperplate;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgba(0,0,0,0);
}
